asgiref==3.3.1
beautifulsoup4==4.9.3
boto3==1.17.12
botocore==1.20.12
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.1.4
django-admin-sortable==2.2.3
django-bootstrap4==2.3.1
django-cors-headers==3.5.0
django-heroku==0.3.1
django-storages==1.11.1
django-toolbelt==0.0.1
django-upload-validator==1.1.5
django-widgets-improved==1.5.0
gunicorn==20.0.4
jmespath==0.10.0
mysqlclient==2.0.1
Pillow==8.1.0
psycopg2==2.8.6
python-dateutil==2.8.1
python-magic==0.4.18
pytz==2020.4
s3transfer==0.3.4
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
static3==0.7.0
urllib3==1.26.3
whitenoise==5.2.0
