{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yamawa Foods Operation Manual</title>
    <link rel="stylesheet" href="{% static 'css/loginform.css' %}">
    <link rel="icon" href="{% static 'icon/favicon.ico' %}" >
  </head>
  <div class="form-wrapper">
    <h1><img src="{% static 'img/yamawa_logo_original.png' %}"></h1>

    <form action="" method="POST">
      {% csrf_token %}
      {% for field in form %}

    <!-- ユーザネーム-->
      <div class="form-item">
        {{field}}
      </div>
      {% endfor %}

      {% for error in form.non_field_errors %}

      <div class="form-item">
        <p>{{ error }}</p>
      </div>
      {% endfor %}

      <div class="button-panel">
        <input type="submit" class="button" title="LogIn" value="LogIn"></input>
      </div>

    </form>

    <div class="form-footer">
    </div>
  </div>
</html>
