@page {
    size: A4;
}
* {
    overflow !important;
}
body {
    -webkit-print-color-adjust: exact;
}
/* 非表示項目 */
header button,
.movementArea,
.headerRightMenu,
.catSearchArea,
.moreBtn,
.contentBtn,
.step4Table a,
.pagination,
#google_translate_element{
    display: none !important;
}
/* 背景の削除 */
body,
.bgWhite,
.bread a{ 
    background: none !important;
    color: #333 !important;
}
.catTitle,
section{
    padding: 20px 0;
}
/* ページの途中で要素が切れるのを防ぐ */
.detailFlowArea .detailFlowAreaContent li,
.tabAreaContentText li,
.step4Table tbody tr,
.proggressTable,
.checkStageCheck,
.news-box{
    page-break-inside: avoid;
}
.noteMenu ul li{
    border: 3px solid #F39801;
}
.bread ul{
    flex-wrap: wrap;
}

app-root {
    display: block;
}
app-cards {
    height: 296mm;
    overflow: hidden;
}